.headerContainer {
    height: 6rem;
    width: 100%;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
}

.headerContent {
    max-width: 1120px;
    height: 6rem;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        cursor: pointer;
    }
}

.menuNav {
    display: flex;
    align-items: center;

    a {
        color: var(--black);
        padding: 0 0.5rem;
        display: inline-block;
        position: relative;

        & + a {
            margin-left: 2rem;
        }

        &:hover {
            transform: scale(1.005);
            transition: transform 0.8s
        }
    }

    button {
        margin-left: 2rem;
        background-color: transparent;
        border: none;
        transition: transform 0.8s;

        &:hover {
            transform: scale(1.2);
            transition: transform 0.8s
        }
    }
}

